*{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ae99f9;
}
.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(245, 246, 249, 0.5);
}
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: #f8f7f7;
    box-shadow: 0px, 3px, 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    color: #030708;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: #4b0240;
    color: #ffffff;
    font-size: 20px;
    box-shadow: #e0f367;
    cursor: pointer;
}

.eqlBtn {
    background-color: #d5fa03;
    color: #4b0240;
}
.operator {
    color: rgb(85, 248, 194);
}